body {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  height: 100vh;
  background-image: url("../images/welcome_page_work.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto Black", monospace;
  color: #313550;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  padding-bottom: 3%;
}

.title {
  font-size: 140px;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
  color: rgb(231, 94, 38);
}

.menu-nav {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: rgba(220, 226, 237, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.menu-nav ul li {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  transition: background-color 0.3s;
}

.menu-nav ul li:hover {
  background-color: rgba(220, 226, 237, 0.7);
}

.menu-nav a {
  color: #313550;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  font-family: monospace;
}

.content {
  margin-top: 20px;
}

.welcome,
.about,
.users,
.userstories,
.description,
.userstory {
  background-color: rgba(220, 226, 237, 0.5);
  overflow: auto;
  position: relative;
  border-radius: 3px;
  width: 70%;
  display: block;
  margin: auto;
  height: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.userstory {
  width: 50%;
}

.userstory p {
  font-size: 20px;
}

.welcome h1 {
  font-size: 64px;
}

.welcome p,
.about p {
  font-size: 28px;
}

.users table,
.userstories table {
  margin: 0 auto;
  padding: 15px;
}

.users table a,
.userstories table a {
  margin: 0%;
  color: #313550;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  font-family: monospace;
}

.users table a:hover,
.userstories table a:hover {
  cursor: pointer;
}

.users th,
.userstories th {
  background-color: rgba(220, 226, 237, 0.6);
}

.users td,
.users th,
.userstories td,
.userstories th {
  border: 2px solid #313550;
  padding: 15px;
  width: 25%;
}

.ava {
  width: 30%;
  display: block;
  margin: 0 auto;
  border: 5px solid rgba(220, 226, 237, 0.6);
  border-radius: 50%;
}

.gohome {
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  display: block;
  background-color: rgba(220, 226, 237, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #313550;
}

.contributor-name,
.state,
.date,
a {
  margin: 0%;
  color: #313550;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  font-family: monospace;
  text-align: right;
  margin-left: 10px;
  padding: 5px;
}
